header {
  padding: 10px;
  background: darkgray;
}

.logo-container {
  padding:0;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  width: 40%;
}

.logo:hover {
  cursor: pointer;
}

.desktop-menu {
  top: 25px;
  margin-top: 30px;
  margin-right: 20px;
  text-align: right;
}

.desktop-menu ul {
  padding: 0;
  margin: 0;
  right: 20px;
  display: flex;
  justify-content: flex-end;
}

.desktop-menu ul li{
  list-style-type: none;
  color: white;
  display: inline-flex;
  font-size: 70%;
  margin-left: 5%;
}

.desktop-menu ul li:hover{
  color: blue;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  font-size: 80%;
  font-weight: bold;
}

.menu-icon {
  display: none;
}

@media screen and (min-width: 128px) and (max-width:900px) {
  .desktop-menu {
    position: fixed;
    right: 0;
    top: 64px;
    background: darkgray;
    width: 280px;
    height: 100%;
  }

  .desktop-menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid gray;
  }
  .menu-icon{
    display: block;
    color: white;
    font-size: 40px;
    padding-top: 10px;
  }

  .mobile_menu{
    right: 0;
    transition: 0.4s ease-in-out;
  }
}
